<%- include('../partials/header') %>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Add Fallen Star</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <a class="mx-2 btn btn-sm btn-outline-secondary" href="/deaths/total">
                    Update Total
                </a>
                <!-- <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                    This week
                </button> -->
            </div>
        </div>

        <form action="/deaths" method="POST" class="form-floating">
            <div class="m-3">
                <label for="name" id="floatingInputValue">Person Name</label>
                <input type="text" id="name" name="name" class="form-control" required>
            </div>
            <div class="m-3">
                <label for="age" id="floatingInputValue">Age</label>
                <input type="number" id="age" name="age" class="form-control" required>
            </div>
            <div class="m-3">
                <label for="deceased" id="floatingInputValue">Deseased Date</label>
                <input type="date" id="deceased" name="deceased" class="form-control" required>
            </div>
            <div class="m-3">
                <label for="incident" id="floatingInputValue">Incident Date</label>
                <input type="date" id="incident" name="incident" class="form-control" required>
            </div>
            <div class="m-3">
                <label for="rs" id="floatingInputValue">Region or State</label>
                <select class="form-select">
                    <option selected>- Choose State or Region -</option>
                    <option value="Yangon">Yangon Region</option>
                    <option value="Mandalay">Mandalay Region</option>
                    <option value="Naypyitaw">Naypyitaw</option>
                    <option value="Sagaing">Sagaing Region</option>
                    <option value="Bago">Bago Region</option>
                    <option value="Magway">Magway Region</option>
                    <option value="Ayeyarwady">Ayeyarwady Region</option>
                    <option value="Tanintharyi">Tanintharyi Region</option>
                    <option value="Kachin">Kachin State</option>
                    <option value="Kayah">Kayah State</option>
                    <option value="Kayin">Kayin State</option>
                    <option value="Chin">Chin State</option>
                    <option value="Chin">Mon State</option>
                    <option value="Chin">Rakhine State</option>
                    <option value="Chin">Shan State</option>
                </select>
            </div>
            <div class="m-3">
                <label for="rs" id="floatingInputValue">City or District</label>
                <input type="text" id="incident" name="incident" class="form-control">
            </div>
            <div class="m-3">
                <label for="remarks" id="floatingInputValue">Remarks</label>
                <textarea rows="5" id="remarks" name="remarks" class="form-control"></textarea>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-primary btn-block">
                    Create
                </button>
            </div>
        </form>

    </main>

    <%- include('../partials/footer') %>
